.container img{
    display:block;
    margin: auto;
    width: 35%;
    margin-bottom: 10px;
}
.container p{
    text-align: center;
    font-size: 140%;
}
.badge{
    margin: 3px;
    font-size: 150%;
}