
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@800&display=swap');

.bg-p{
    background-color: #cf987eab;

}
.navbar-brand{
    font-weight: 700;
    font-family: 'Playfair Display', serif;
    font-size: 40px;
}